.searchForm {
    padding: 21px 40px 32px 44px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    display: flex;

    .leftWrapper {
        width: 45%;
        margin-right: 11px;
        label {
            display: inline-block;
            margin-bottom: 20px;
            span {
                font-size: 25px;
            }
        }
        input {
            width: 242px;
            padding: 13px 17px;
            font-size: 14px;
        }
        .innCompany,
        .count {
            margin-bottom: 30px;
            input {
                &:focus {
                    padding: 13px 17px;
                    &::placeholder {
                        opacity: 0;
                    }
                }
                &::placeholder {
                    text-align: center;
                    font-size: 14px;
                    line-height: 17px;
                    letter-spacing: 0.03em;
                    color: #949494;
                    opacity: 0.4;
                }
            }
        }
        .count {
            input {
                &::-webkit-outer-spin-button,
                &::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }
            }
        }
        .tonalityWrapper {
            position: relative;
            margin-bottom: 20px;
            p {
                font-size: 18px;
                margin-bottom: 20px;
            }
            .tonalityItems {
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-size: 14px;
                width: 242px;
                height: 45px;
                border-radius: 5px;
                box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
                border: 1px solid #c7c7c7;
                outline: none;
                line-height: 17px;
                letter-spacing: 0.03em;
                padding: 13px 15px 13px 22px;
                margin-bottom: 5px;
            }
            .tonalityPopup {
                position: absolute;
                width: 242px;
                border-radius: 5px;
                box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
                z-index: 1000;
                background-color: #fff;
                overflow: hidden;

                ul {
                    li {
                        width: 100%;
                        text-align: center;
                        padding: 10px;
                        cursor: pointer;
                        font-size: 14px;
                        &:hover {
                            background-color: #000;
                            color: #fff;
                        }
                    }
                }
            }
        }

        .calendarWrapper {
            label {
                cursor: default;
            }
            .dateWrapper {
                display: flex;
                justify-content: space-between;
                .rotate {
                    transform: rotate(180deg);
                }
                .block {
                    width: 49%;
                    position: relative;
                    input {
                        width: 100%;
                        padding: 13px 10px 13px 17px;
                        &::-webkit-calendar-picker-indicator {
                            position: absolute;
                            top: 0;
                            left: 0;
                            right: 0;
                            left: 0;
                            width: auto;
                            height: 100%;
                            z-index: 1000;
                            opacity: 0;
                            cursor: pointer;
                        }
                    }
                    img {
                        position: absolute;
                        bottom: 14px;
                        right: 10px;
                        z-index: 0;
                    }
                }
            }
        }
    }

    .rightWrapper {
        width: 55%;
        padding-top: 10px;
        .checkBoxWrapper {
            width: 100%;
            margin-bottom: 145px;
            .checkBox {
                margin-bottom: 15px;

                &:last-child {
                    margin: 0;
                }
                label {
                    display: flex;
                    align-items: center;
                    line-height: 22px;
                    letter-spacing: 0.03em;
                    opacity: 0.4;
                    transition: all 0.2s ease-in-out;
                    cursor: default;
                    &::before {
                        content: '';
                        display: inline-block;
                        width: 20px;
                        height: 20px;
                        border: 1px solid #000;
                        margin-right: 17px;
                        opacity: 0.4;
                        transition: all 0.2s ease-in-out;
                    }
                }
                .customCheckbox {
                    z-index: 1000;
                    width: 22px;
                    height: 22px;
                    position: absolute;
                    border-radius: 0;
                    box-shadow: none;
                    outline: none;
                    cursor: pointer;
                    opacity: 0;
                    &:checked + label {
                        opacity: 1;
                        &::before {
                            opacity: 1;
                            background-image: url('../../assets/img/cards/check-mark.svg');
                        }
                    }
                }
            }
        }
        .buttonWrapper {
            padding-top: 6px;
            display: flex;
            align-items: flex-end;
            flex-direction: column;
            .searchBtn {
                padding: 16px 118px;
                font-size: 22px;
                color: #fff;
                margin-bottom: 10px;
            }
            div {
                text-align: start;
                width: 70%;
                span {
                    font-size: 14px;
                    color: #949494;
                }
            }
        }
    }
}
// &::before
