.loginSection {
    padding-top: 70px;
    display: flex;
    margin-bottom: 80px;
    height: 100%;
    .titleWrapper {
        width: 60%;
        h2 {
            margin-bottom: 14px;
            font-size: 40px;
            line-height: 48px;
            letter-spacing: 0.02em;
        }
        div {
            padding-left: 110px;
        }
    }
}
